@charset "UTF-8";

/*=================================
Fonts
=================================*/
@font-face {
  font-family: "My favorite font";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/My-favorite-font.woff2") format("woff2"),
    url("../fonts/My-favorite-font.woff") format("woff");
}

/*=================================
Primary styles
=================================*/
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container-padded {
  padding: 0 30px;
}

/*=================================
Special classes
=================================*/
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ol-block--1 {
  outline: 2px solid tomato;
}

.ol-block--2 {
  outline: 2px solid green;
}

.ol-block--3 {
  outline: 2px solid darkmagenta;
}

.bg-block {
  background-color: rgba(255, 99, 71, 0.4);
}

.ol-element {
  outline: 1px dashed seagreen;
}

.bg-element {
  background-color: rgba(46, 139, 87, 0.2);
}

/*=================================
Animation styles
=================================*/

/*=================================
Main styles
=================================*/
